body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  
}

.popup-container{
  height: 50%;
  width: 50%;
  margin: auto;
  color: white;
  background-image: url(https://cdna.artstation.com/p/assets/images/images/013/579/568/large/timothy-seow-c-wood-texture.jpg?1540249337);
  background-size: cover;
  box-shadow: 0 0 10px 10px black;
}

#play-buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
 
}
.button{
  height: 30px;
  width: 70px;
background-color: black;
  animation: btn 2s linear infinite alternate;
}

@keyframes btn{
  from {transform: scale(1);color: cyan;}
  to { transform: scale(1.5); color: yellowgreen;}
}

/* .button:hover{
  transform: scale(1.2);
} */
.container{
  height: 80vh;
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 5%;
  border: 2px solid black;
  background-image: url(https://images-na.ssl-images-amazon.com/images/I/61zB3h2Z7ZL._AC_SL1307_.jpg);
  background-repeat: no-repeat;
  background-size: cover;
 
}

/* css for colourscomponent */
.colours-container{
 height: 64vh;
 width: 10vw;
 margin-top: 10vh;
 
 background-image: linear-gradient(to bottom right, cyan , grey);
 border: 2px solid white;
 border-radius: 5%;
 margin-left: 2px;
background-image: url(https://graphicriver.img.customer.envatousercontent.com/files/240992165/ad_081_preview.jpg?auto=compress%2Cformat&q=80&fit=crop&crop=top&max-h=8000&max-w=590&s=168e1d945a9c901f462c05dbf785b25a);
  background-size: cover;
  
}
/* css for colourcard */
.colour-card{
  
   height: 5vh;
   width: 4.5vw;
   border: 2px solid grey;
   text-align: center;
   font-size: 1.2vw;
   font-weight: bolder;
   margin-top: 1vh;
   margin-left: 0.8vw;
   cursor:url(./images/paintBrush.svg), pointer;
   
}

.color{
  height: 5vh;
  width: 3vw;
 border-radius: 50%;
 margin-top: 1vh;
 margin-left: 0.5vw;
 border: 3px solid grey;
 animation: rotate 2s ease-in-out infinite alternate;
}

@keyframes rotate{
  from {transform: rotateY(0deg);}
  to { transform:  rotateY(45deg); }
}

/* css for game component */
.game-component{
  margin: -75vh 11vw;
  height: 76vh;
  width: 37vw;
  
  background-size: cover;
  /* background-image: url(https://image.freepik.com/free-vector/seashore-landscape-cartoon_18591-45366.jpg); */
  /* background-image: url(https://i.pinimg.com/originals/ef/48/d2/ef48d217dc8e23a49277afc4dcf403c3.png); */
  cursor:url(./images/paintBrush.svg), pointer;
}

.svg-container{
  
  height: 68vh;
  width: 35vw;
 
}

.option-container{
  height: 50vh;
  width: 10vw;
 
  margin-top: -45vh;
  margin-left: 38vw;
  text-align: center;
  
}


